<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find password</title>
    <link rel="stylesheet" href="../../static/css/auth.css">
</head>

<body>
    <header></header>
    <main>
        <section>
            <div class="container">
                <h2 class="text-center">비밀번호 찾기</h2>
                <form id="findForm">
                    <div class="input-group">
                        <label for="emailInput">이메일</label>
                        <input type="email" id="emailInput" name="email" required>
                    </div>

                    <button type="submit" class="button button-primary">비밀번호 찾기</button>
                </form>
            </div>
        </section>
    </main>

    <script type="module" src="../../static/js/auth/findPassword.js"></script>
</body>

</html>