<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find email</title>
    <link rel="stylesheet" href="../../static/css/auth.css">
</head>

<body>
    <header></header>
    <main>
        <section>
            <div class="container">
                <h2 class="text-center">이메일 찾기</h2>
                <form id="findForm">
                    <div class="input-group">
                        <label for="name">이름</label>
                        <input type="text" name="name" required>
                    </div>
                    <div class="input-group">
                        <label for="nickname">닉네임</label>
                        <input type="text" name="nickname" required>
                    </div>

                    <button type="submit" class="button button-primary">이메일 찾기</button>
                </form>
            </div>
        </section>
    </main>

    <script type="module" src="../../static/js/auth/findEmail.js"></script>
</body>

</html>