<div class="comment-section">

  <div class="comment-list">
    <div class="comment">
      <div class="comment-info">
        <span class="author">'댓글 작성자'</span>
        <span class="date">'작성일'</span>
      </div>
      <div class="comment-content">
        댓글 내용"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio"
      </div>
    </div>
    <!-- 추가 댓글들... -->
  </div>

  <div class="comment-form">
    <label>
      <textarea class="comment-write" placeholder="댓글을 입력하세요..."></textarea>
    </label>
    <button class="comment-save-btn">댓글 작성</button>
  </div>
</div>