<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 상세</title>
  <link rel="stylesheet" href="../../static/css/post.css">
</head>
<body>

<div class="container">
  <div id="header"></div>
</div>

<div class="container">
  <div id="post-detail"></div>
  <div id="system-comment"></div>
  <div id="comment-section"></div>
</div>

<script src="../../static/js/post.js"></script>
<script src="../../static/js/comment/system-comment.js"></script>
<script src="../../static/js/comment/comment.js"></script>
</body>
</html>