<div class="post-detail">
  <p>게시글 제목</p>
  <div class="post-info">
    <p>작성자: </p>
    <p>작성일: </p>
    <p>수정일: </p>
    <p>사용 언어: </p>
    <p>'플랫폼' '문제 번호'</p>
    <p>'알고리즘'</p>
    <p>'조회 수' views '추천 수' votes</p>
  </div>

  <hr>

  <div class="post-content">
    게시글 내용 "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."
  </div>

  <div class="post-code">
    <pre><code>
  public class Main {
      public static void main(String[] args) {
          System.out.println("Hello world!");
      }
  }
    </code></pre>
  </div>

  <div class="post-actions">
    <div class="vote-button">
      <button class="upvote">Vote</button>
      <p>?</p>
    </div>
  </div>

  <hr>
</div>