@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: pretendard;
  color: white;
  background-color: #0E2439;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

.text-center {
  text-align: center;
}

.container {
  background-color: #0E2439;
  padding: 20px;
  border-radius: 10px;
  width: 410px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  color: #ffffff;
  margin-bottom: 5px;
  font-size: 14px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #656ED3;
  border-radius: 30px;
  background-color: #0E2439;
  color: #ffffff;
  font-size: 16px;
}

.button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

a.button {
  display: block;
  text-align: center;
  text-decoration: none;
}

.button-primary {
  font-weight: 700;
  background-color: #4a5a6a;
  color: #ffffff;
  border-radius: 30px;
}

.button-secondary {
  font-weight: 700;
  background-color: transparent;
  color: #ffffff;
  background-color: #3C406C;
  border: 1px solid #3C406C;
  border-radius: 30px;
}

.error {
  color: red;
}