body {
  font-family: Arial, sans-serif;
  background-color: #1F364D;
  color: #ffffff;
  margin: 0;
  padding: 20px;
}

hr {
  margin: 30px 2px;
  height: 3px;
  background-color: white;
  opacity: 0.2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.post-detail, .system-comment, .comment-section {
  padding: 20px 20px 0 20px;
  /*margin-bottom: 20px;*/
  border-radius: 5px;
}

.post-info, .system-comment-info, .comment-info {
  font-size: 0.9em;
  color: #bdc3c7;
  margin-bottom: 10px;
}



/**
  post-detail.html
 */

.post-content {
  /*margin: 0 5px 30px 5px;*/
  margin-bottom: 30px;
}

.post-code {
  background-color: #34495e;
  border-radius: 10px;
}

.vote-button {
  padding-top: 6px;
  width: 50px;
  height: 50px;
  background: rgba(52, 73, 94, 0.5);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin-left: 46%;

  button {
    background: none;
    border: none;
    color: white;
    padding: 0;
  }

  p {
    padding: 0;
    margin-top: 5px;
  }
}



/**
  system-comment.html
 */

.system-comment {
  /*color: #ecf0f1;*/
  /*border: 2px solid #34495e;*/
  /*padding: 20px;*/
}

.system-mark {
  margin-bottom: 10px;
}

.system-comment-details {
  border: 2px solid #34495e;
  border-radius: 2px;
  padding: 0 5px 3px 5px;
  margin: 0;
}

.system-comment-info {
  /*padding: 0 10px;*/
}

.code-report, .problem-report {
  /*margin: 5px;*/
  /*padding: 5px 0;*/
  margin-bottom: 8px;
  border-radius: 2px;

  summary {
    background-color: #34495e;
    padding: 5px 10px;
  }
}

.code-report-details, .problem-report-details {
  margin: 10px;
  padding: 10px;
}

.system-comment-error {
  margin-left: 20px;
  color: red;
}


/**
  comment.html
 */

.comment p {
  margin-top: 30px;
}

.comment-form {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.comment-form label {
  flex-grow: 1;
  margin-right: 20px;
}

.comment-list .comment {
  /*border-bottom: 1px solid #34495e;*/
  padding: 10px 0;
  margin-bottom: 10px;
}

.comment-item {
  margin: 20px 10px;
}

.comment-write {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #34495e;
  color: white;
  border: none;
  border-radius: 5px;
}

.author {
  margin-right: 10px;
}

.comment-save-btn {
  background: #34495e;
  opacity: 0.6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
/*   min-width: 50px; */

.update-comment-btn, .cancel-edit-btn , .edit-comment-btn, .delete-comment-btn {
}

#post-edit-btn, #post-delete-btn {
  background: #34495e;
  opacity: 0.6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  min-width: 50px;
  margin: 10px 10px 10px 0;
  margin-left: 93%;
}

#post-edit-btn {
  display: flex;
}

/*#post-delete-btn {*/
/*  display: flex;*/
/*}*/
